<div class="wrapper">
    <div class="formulario">
        <a routerLink="/main" routerLinkActive="active"><img src="../../../../assets/images/logo2.png" alt="logo"></a>
        <form autocomplete="off" 
            [formGroup]="miFormulario"
            (ngSubmit)="login()">
            
            <div class="form-input">
                <input type="text" name="username" formControlName="username" placeholder="name@example.com">
            </div>

            <div class="form-input">
                <input type="password" name="password" formControlName="password" placeholder="Password">
            </div>
            <div class="form-input">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="footer-container">
            <p>&copy; Copyright {{ getYear() }} - David Rivera Taupier <p>
        </div>
    </div>
</div>





