$color: #F9F5F5;
$bg-color: #1F2B50;
.wrapper{
    width: 100vw;
    height: 290px;
    min-width: 320px;
    background: $bg-color;
    .footer{
        height: 100%;
        padding-top: 40px;
        color: $color;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        h5{
            font-size: 1em;
            margin-bottom: 12px;
        }
        p{
            font-size: 0.8em;
            color: $color;
        }
    }
    
}

.contact, .hours, .services{
    line-height: 13px;
}

.address p{
    line-height: 8px;
}

.address a{
    margin-right: 15px;
    color: #F9F5F5;
    font-size: 1.2rem;
}

@media screen and (max-width: 700px){
    .wrapper{
        height: auto;
        .footer{
            justify-content: center;
            flex-direction: column;
            .contact{
                width: 100%;
                margin-bottom: 5px;
                margin-left: 40px;
            }
            .hours{
                width: 100%;
                margin: 5px 0px 5px 40px;
            }
            .services{
                width: 100%;
                margin-bottom: 20px;
                margin-left: 40px;
            }
        }
    }
}