
.wrapper{
    background: #000;
}

button[type="submit"]{
    margin-bottom: 40px;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    border: none;
    background: #1F2B50;
    color: #F9F5F5;
    &:hover{
      box-shadow: inset 0.3px 0.3px 5px 1px rgba(0,0,0,0.3);
      cursor: pointer;
      background: #5195A6;
      border: none;
      outline:none;
      transition-duration: 0.1s;
    }
    &:active{
      border:none;
    }
  }
  .landing{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing p a{
    color: #1F2B50;
    text-decoration: none;
    font-weight: 600;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 14px; // agrega un margen inferior de 5px al subrayado
      text-decoration-thickness: 2px;
    }
  }