.wrapper{
    width: 70%;
    margin: 0 auto;
    form{
        margin: 0 auto;
        width: 75%;
        input{
            outline: none;
            box-shadow: none;
        }
        .form-select-lg{
            padding: 7px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 100%;
            margin-bottom: 15px;
            box-shadow: none;
            outline: none;
        }
    }
}