$bg-color: #1F2B50;
$text: #F9F5F5;
$button-bg: #A49990;

body {
    padding-right: 0; // establece un padding inicial de cero
  }
  
* {
  font-size: 16px;
}

.navbar {
  min-width: 320px;
  height: 90px;
  width: 100vw;
  background-color: $bg-color;
  color: $text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  .logo{
    width: 30%;
    height: 100%;
    display: flex;
    h1 {
      margin-left: 100px;
      margin-top: 13px;
      font-size: 1.5rem;
    }
  }

  .options{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
    width: 70%;
    nav {
      ul li a {
        color: #F9F5F5;
        text-decoration: none;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        li{
          padding: 15px 20px;
          list-style: none;
          &:hover{
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 14px; // agrega un margen inferior de 5px al subrayado
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }
}
  

// Clases que ayudan a que el header se quede pegado

  header{
    position: sticky;
    top: 0;
  }

  .navbar-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 4px 3px rgba(47,37,56,0.5);
    height: 70px;
    width: 100vw;
    transition: padding-top 0.4s ease-in-out; /* Agregar la transición solo a la propiedad padding-top */
    &.sticky {
      height: 60px;
      padding-top: 60px; /* Cambiar el padding-top en la clase .sticky */
    }
  }

  


  @media screen and (max-width: 1149px) {
    
    .navbar{
      .logo h1{
        margin-left: 50px;
      } 
    }

  }

  @media screen and (max-width: 1020px){
    .navbar{
      .logo h1{
        margin-left: 40px;
      }
    }

  }
  

  @media screen and (max-width: 940px) {
    .navbar{
      .logo h1{
        margin-left: 10px;
      }
    }
    
  }

  @media screen and (max-width: 820px) {
    .options{
      nav{
        ul li a{
          font-size: 12px;
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .navbar{
      width: 100vw;
      .logo{
        width: 50%;
        h1{
          margin-left: 5px;
        }
      }
      .options {
        display: none;
        width: 50%;
      }
    }
  }  
