@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
$backg: #A49990;
$color: #F9F5F5;
$secundario: #A08382;
.biography{
    width: 100vw;
    height: 650px;
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url('../../../assets/images/fondo.png');
    background-repeat: repeat;
    .img-bio{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            animation: slide-in 1s ease-in;
            height: 450px;
            margin-left: 35px;
        }
    }.text-bio{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .bio-card{
            width: 83%;
            height: 45%;
            border: none;
            margin-right: 40px;
            .card-title{
                font-family: 'Playfair Display', serif;;
                text-align: left;
                font-size: 2.3em;
                color: $color;
                margin-bottom: 10px;
            }
            .card-text{
                text-align: justify;
                color: $color;
                font-size: 1rem;
            }
        }
    }

}

.slide-right {
	-webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

  @media screen and (max-width: 1149px){
    .biography .img-bio img{
        margin-left: -100px;
    }
  }
  
  @media screen and (max-width: 1000px){
    .biography{
        .img-bio
            img{
                margin-left: -100px;
            }
        .text-bio>.bio-card {
            margin-right: -40px;
        }
    } 
  }
  
  @media screen and (max-width: 850px){
    .biography{
        .img-bio{
            img{
                margin-left: -95px;
            }
        }
        .text-bio>.bio-card {
            margin-right: -20px;
        }
    } 
  }
  
  @media screen and (max-width: 800px){
    .biography{
        .text-bio{
            .bio-card{
                margin-right: -10%;
                .card-body{
                    h5{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
  }

  @media screen and (max-width: 760px){
    .biography{
        flex-direction: column;
        height: auto;
        .img-bio{
            width: 100%;
            height: 60%;
            margin-top: 30px;
            justify-content: center;
            margin-left: -20%;
            img{
                height: 90%;
                // margin-left: -95px;
            }
        }
        
        .text-bio{
            width: 100%;
            align-items: flex-start;
            .bio-card {
                height: 50%;
                width: 90%;
                margin-bottom: 30px;
                .card-body{
                    h5{
                        font-size: 1.8rem;
                    }
                    p{
                        margin-right: 20px;
                    }
                }
                // margin-right: -20px;
                }
            }
        }

    }



    @media screen and (max-width: 450px){
        .biography{
            .img-bio{
                img{
                    width: 70%;
                    margin-left: -129px;
                }
            }
            .text-bio{
                margin-right: 45px;
            }
        }
    }