<header class="container-fluid bg-primary d-flex justify-content-between align-items-center">
  <p class="text-light p-1 fs-6 fw-bold">Call today: (407)703-3311</p>
  <p class="text-light p-1 fs-6 fw-bold">380 B Semoran Commerce Place Suite 204 - Apopka Fl 32703</p>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span class="text-primary fs-5 fw-bold">JF Dental Care</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">General Dentistry</a></li>
            <li><a class="dropdown-item" href="#">Cosmetic Dentistry</a></li>
            <li><a class="dropdown-item" href="#">Invisalign</a></li>
            <li><a class="dropdown-item" href="#">Restorative Dentistry</a></li>
            <li><a class="dropdown-item" href="#">Dental Emergencies</a></li>
            <li><a class="dropdown-item" href="#">Oral Surgery</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
    <div class="row">
      <div class="col">
        <img src="" alt="inicio">
      </div>
    </div>
  </div>
</nav>