@import "primeicons/primeicons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

app-root,
app-main {
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
}
